<article class="blog-post">
	<div class="row">
		<div class="col-2">
			{% if post.image %}
			<a class="article__image" href="{{ post.url }}" style="background-image:  url({{post.image | relative_url}});"></a></div>
			{% else %}
			<a class="article__image" href="{{ post.url }}" style="background-image:  url({{'/assets/images/default.png' | relative_url}}); background-size: 75px 75px;"></a></div>
			{% endif %}
		<div class="col-10">
			<h2 class="blog-post-title" style="font-family: 'Lora', Georgia, Times, 'Times New Roman', serif"><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<p class="blog-post-meta" style="font-family: 'IBM Plex Mono', monospace; color: #999999;">PUBLISHED {{ post.date | date_to_string }}</p>
			{{ post.excerpt }}
			<a href="{{ post.url }}">Read more</a>
		</div>
	</div>
</article><!-- /.blog-post -->
