/* stylelint-disable selector-list-comma-newline-after */

hr{
  color: #e1e1e1;
}

article{
  margin-bottom: 50px;
  color: #666666;
}

article h2 a{
  text-decoration: none;
  color: #666666;
}

article a{
  color: #6b69fa;
}

.article__image{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f8f8f8;
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 750px !important;
}

.theme-container{
  padding-top: 20px;
  padding-bottom: 40px;
}

.header{
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.header h1{
  padding-bottom: 19px;
  font-size:24px;
}

.header ul{
  margin-top: 8px;
  font-size: 16px;
}

.header a{
  text-decoration: none;
}

#introduction h1{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

#introduction p{
  line-height: 1.7;
  margin-bottom: 15px;
  font-size: 16px;
}

.pagination a, span{
  margin: 10px;
}

.float-right{
  float: right !important;
}

.float-left{
  float: left !important;
}

.list-reset{
  list-style-type: none;
}

footer li{
  display: inline-block;
  margin-right: 15px;
}

/* from bootstrap blog template */

.blog-footer {
  padding: 2.5rem 0;
  color: #999999;
  text-align: center;
  /*background-color: #f9f9f9;*/
  /*border-top: .05rem solid #e5e5e5;*/
  font-family: "IBM Plex Mono", monospace;
}

.blog-footer a{
  text-decoration: none;
  color: #333333;
  font-family: "Lora serif";
}